@import url(https://myfonts.ru/myfonts?fonts=helvetica);
.App{
    font-family: 'Helvetica', arial;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background-color: #F0F0F0;
    color: #60676B;
    text-transform: uppercase;
    line-height: 1.38;
    font-size: 10px;
}
*{
    box-sizing: border-box;
}
input{
    border: none;
    background-color: #0000;
}