.Subscribe{
    z-index: 999998;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 550px) {
        padding: 0 20px;
    }
    &_Modal{
        background-color: #f0f0f0;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        justify-content: space-between;
        width: 416px;
        height: 229px;
        padding: 26px 40px;
        font-size: 10px;
        position:absolute;
        @media screen and (max-width: 550px) {
            width: calc(100% - 40px);
            left: 20px;
        }
        button{
            max-width: 150px;
            @media screen and (max-width: 550px) {
                font-size: 10px;
                width: 100%;
                max-width: 100%;
            }
        }
        p{
            max-width: 70%;
            font-weight: 700;
        }
        input{
            height: 30px;
            margin-bottom: 8px;
            width: 90%;
            border-bottom: 0.6px solid #cbcbcb;
            text-transform: uppercase;
            font-size: 10px;
            @media screen and (max-width: 550px) {
                width: 100%;
            }
        }
        img{
            position: absolute;
            right: 20px;
            top: 20px;
            transform: scale(1);
            cursor: pointer;
        }
    }
}